@mixin __interBloqueS{
    color: #ffefcd;
    font-size: 3em;
    background-color: rgb(85, 82, 82);
    height: 150px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Didact Gothic', sans-serif;
}