.alink {
        text-decoration: none;
        color: white !important;
}

div .imgCarrito {
        margin-right: 155px;
}

div .imgCarrito div {
        background-color: cadetblue;
        border-radius: 100%;
        width: 32px;
        height: 32px;
}

div .imgCarrito div span {
        color: aliceblue;
}
.ml3{
        margin-left: 50px;
}