.navConteiner ul{
    display: flex;
}
.navConteiner ul li{
    text-decoration: none;
}
.alink {
    text-decoration: none;
    color: rgb(252, 252, 252) !important;
}
.Carrito {
    margin-right: 155px;
}
div.Carrito div {
    background-color: cadetblue !important;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}
div.Carrito div span {
    color: aliceblue;
}
.ml3 {
    margin-left: 50px;
}
.Link{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
