/* --------------------------------------------------------------------------------- estylos generales ------------------------------------ */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(104, 128, 158);
}
ul{
    list-style: none;
}
.ColorFondo{
    background: linear-gradient(to right, #6f7f70, #1d291c);
}
@media(min-width: 780px){
        /* ---------------------------------------------------------------------------------   index  --------------------------------------*/
        .contenedor{
            display: grid;
            grid-template-areas: 
            "header nav"
            "header seccion"
            "header PieDePagina";
            grid-template-columns: 75% 25%;
            grid-template-rows: 280px 300px 400px;
        }

        header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        }
        header.imgBG{
        background-image: url("../img/carpint.jpg");
        background-size: cover;
        z-index: -1;
        }
        nav{
        background-color: white;
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        nav div.imgMarcas{
        background-image: url("../img/MarcasMelamina.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 77%;
        }
        nav ul.NavRow{
            display: flex;
            flex-direction: row;
            justify-content: left;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 1%;
            margin-bottom: 2%;
        }
        nav ul li{
            font-weight: bold;
            box-shadow: 0 4px 8px 0 , 0 6px 20px 0 rgb(0, 0, 0, 0.19);
            background: rgb(255, 255, 255); 
            padding: 3%;
        }
        section{
        background-color:white;
        grid-area: seccion;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        footer{
        background-color: white;
        grid-area: PieDePagina;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        }

        header div.cardIco{
        background: linear-gradient(to right, #8B866f, #FCD9B8);
        margin-top: 2%;
        margin-left: 7%;
        width: 100px;
        height: 150px;
        border-radius: 0.3em;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        }

        header div.cardIco span{
        font-size: 3em;
        height: 60px;
        width: 80px;
        }
        header div.fontIco{
        width: 100px;
        height: 150px;
        margin-top: 2%;
        margin-left: 2%;
        }
        header div.fontIco h1{
            display: flex;
            flex-direction: column;
            justify-content: end;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: lighter;
            width: 100px;
            height: 140px;
        }
        section span{
        font-family: 'Lobster', cursive;
        font-size: 2em;
        margin-top: 8%;
        color:rgb(177, 164, 164);
        }
        footer i {
        text-decoration: none;
        font-size: 3em;
        margin-top: 10%;
        }
        .fa-instagram {
        color: rgb(141, 70, 135);
        box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
        border-radius: 1%;
        }
        .fa-facebook{
        color: rgba(16, 16, 109, 0.63);
        box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
        border-radius: 1%;
        }
        .fa-whatsapp{
        color: rgb(61, 136, 61);
        box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
        border-radius: 1%;
        }
        /* ----------------------------------------------------------------------------  ubicacion! ---------------------------------------*/
        body div.rowsTres{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "seccion";
        grid-template-columns: 100%;
        grid-template-rows: 200px 65px 700px;
        }
        nav ul.NavRowHome{
            display: flex;
            flex-direction: row;
            justify-content: right;
            flex-wrap: wrap;
        }
        nav ul.NavRowHome li{
            padding: 1%;
            margin: .15%;
        }
        div.ubicacion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 70%;
        }
        iframe{
        width: 100%;
        object-fit: contain;
        height: 600px;
        border-radius: 1em;
        }
        /* ---------------------------------------------------------------------------------Quienes Somos --------------------------- */
        section p{
        width: 300px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(248, 248, 248);
        }
        section div.fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
            margin-top: 7%;     
        }
        section.title{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        }
        section div.retrato{
            width: 350px;
            height: 200px;
        }
        div.cardRetrato{
            border: 1px solid rgb(226 226 146);
            padding: 1%;
        }
        /*----------------------------------------------------------------------------------Galeria -----------------------------------------------*/
        section div.ContenedorGaleria{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 500px;
        
        }
        section div.ContenedorGaleria img{
        width: 0px;
        opacity: .8;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease;
        }
        section div.ContenedorGaleria img:hover{
        width: 300px;
        opacity: 1;
        cursor:crosshair;
        filter: contrast(120%);
        }
        /*----------------------------------------------------------------------------------Contactanos -----------------------------------------------*/
        .ContenedorSection{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        }
        .contenedorImg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        .contenedorImg i{
        margin-top: 100px;
        width: 500px;
        font-size: 3em;
        color: rgb(226 226 146);
        }
        .contenedorImg i span{
            font-family: 'Times New Roman', Times, serif;
            color:#fff; 
            font-size: 0.7em; 
        }
        form.contenedorDatos{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        div h1{
        color: white;
        margin-top: 10px;
        }
        div h4{
        margin-top: 25px;
        color: white;
        text-decoration: none;
        }
} 
@media(max-width: 780px){
    /* ---------------------------------------------------------------------------------   index  --------------------------------------*/
    
    .contenedor{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "seccion"
        "PieDePagina";
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px;
    }

    header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    }
    header.imgBG{
    background-image: url("../img/carpint.jpg");
    background-size: cover;
    z-index: -1;
    }
    nav{
    background-color: white;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 1%; */
    }
    nav div.imgMarcas{
    background-image: url("../img/MarcasMelamina.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 77%;
    }
    nav ul.NavRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
        nav ul li{
        font-weight: bold;
        box-shadow: 0 4px 8px 0 , 0 6px 20px 0 rgb(0, 0, 0, 0.19);
        background: rgb(255, 255, 255); 
        margin-left: 5px;
    }
    .p3{
        padding: 1.5%;
    }
    section{
    background-color:white;
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    footer{
    background-color: white;
    grid-area: PieDePagina;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
    header div.cardIco{
    background: linear-gradient(to right, #8B866f, #FCD9B8);
    margin-top: 2%;
    margin-left: 7%;
    width: 100px;
    height: 150px;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    }

    header div.cardIco span{
    font-size: 3em;
    height: 60px;
    width: 80px;
    }
    header div.fontIco{
    width: 100px;
    height: 150px;
    margin-top: 2%;
    margin-left: 2%;
    }
    header div.fontIco h1{
        display: flex;
        flex-direction: column;
        justify-content: end;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        width: 100px;
        height: 140px;
    }
    section span{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    margin-top: 8%;
    color:rgb(177, 164, 164);
    }
    footer i {
    text-decoration: none;
    font-size: 3em;
    margin-top: 10%;
    }
    .fa-instagram {
    color: rgb(141, 70, 135);
    box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
    border-radius: 1%;
    }
    .fa-facebook{
    color: rgba(16, 16, 109, 0.63);
    box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
    border-radius: 1%;
    }
    .fa-whatsapp{
    color: rgb(61, 136, 61);
    box-shadow: 14px 11px 14px -3px rgba(48,46,51,1);
    border-radius: 1%;
    }
     /* ----------------------------------------------------------------------------  ubicacion! ---------------------------------------*/
     body div.rowsTres{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "seccion";
        grid-template-columns: 100%;
        grid-template-rows: 200px 65px 600px;
        }
        nav ul.NavRowHome{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        }
        nav ul.NavRowHome li{
            padding: 2%;
        }
        div.ubicacion{
            display: flex;
            flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        iframe{
        width: 100%;
        object-fit: contain;
        border-radius: 1em;
        }
         /*----------------------------------------------------------------------------------Contactanos -----------------------------------------------*/
         .ContenedorSection{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            }
            .contenedorImg{
            display: flex;
            flex-direction: column;
            justify-content: start;
            }
            .contenedorImg i{
            margin-top: 5px;
            width: 100%;
            color: rgb(226 226 146);
            }
            .contenedorImg i span{
                font-family: 'Times New Roman', Times, serif;
                color:#fff; 
                font-size: 1em; 
            }
            form.contenedorDatos{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
            div h1{
            color: white;
            font-size: 0.85em;
            margin-top: 6px;
            }
            div h4{
            font-size: 0.95em;
            margin-top: 6px;
            color: white;
            text-decoration: none;
            }
              /* ---------------------------------------------------------------------------------Quienes Somos --------------------------- */
            section.title{
                display: flex;
                flex-direction: column;
                color: white;
            }
            section p{
                padding: 1%;
                margin-top: 2%;
                width: 70%;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(248, 248, 248);
            }
            section div.fotos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%; 
            }
            div.retrato{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
}